/* COLORES
main: #181d27
letras: #dadff7
oscurito: #2a2b2e */

body {
    background: #181d27;
    font-family: 'Roboto', sans-serif;
    color: #dadff7;
    text-align: center;
}

#name-title {
    font-family: 'Work Sans', sans-serif;
}

#logo-home {
    padding-top: 5px;
    max-width: 20%;
    min-width: 180px;
}

#boxes {
    padding-top: 5%;
}