/* COLORES
De mas oscuro a mas claro:
#181d27
#034078
#449dd1
#134074
#fefcfb
#bacada

Gradient:
032f58
033563
033b6e
034078
195184
306290
47749c
bacada*/

body {
    background-image:linear-gradient(#010c16, #032f58,#033563,#033b6e,#034078,#195184,#306290,#47749c,#bacada);
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    color: #fefcfb;
    text-align: center;
}

a {
    text-decoration: none;
    text-emphasis-color: none;
}

#name-title {
    font-family: 'Work Sans', sans-serif;
}

#logo-home {
    padding-top: 18px;
    padding-bottom: 30px;
    max-width: 20%;
    min-width: 180px;
}

#boxes {
    padding-top: 5%;
    padding-bottom: 3%;
}

#navavila {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.barra {
    background: #034078;
    align-content: center;
}