/* COLORES
main: #181d27
letras: #dadff7
oscurito: #2a2b2e */

body {
    background: #181d27;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #dadff7;
}

#main-title {
    font-size: x-large;
    text-align: center;
}

#name-title {
    font-family: 'Work Sans', sans-serif;
}

#logo-home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    
}